/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
/* COLORS
1. #14281D (dark green)
2. #355834 (light green)
3. #8D818C (grey accent color)
4. #5E4955 (grey brown color)
5. #F1F5F2 (eggshell white) */


/***************MEDIA QUERIES*************/



* {
  box-sizing: border-box;
}

.serif {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.sans-serif {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  width: 100vw;
  height: auto;
  margin: auto;
  padding: 0px;
}

body {
  width: 100vw;
  height: auto;
  margin: auto;
  padding: 0px;
  background-color: #F2CC8F;
}
header {
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #14281D;
}
main {
  width: 100vw;
  height: 85vh;
  margin: auto;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
h1 {
  margin: 0px;
  align-self: center;
  color: #F1F5F2;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 28px;
}

/*start page css*/
.main-content-container {
  width: 60%;
  height: 60%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-self: center;
  padding: 15px;
  margin-top: 40px;
  position: relative;
  bottom: 50px;
  background-color: #F1F5F2;
}

#quiz-intro {
  font-size: 22px;
}

#start-quiz-button {
  width: 75%;
  align-self: center;
  padding: 10px 0px;
  background-color: #5E4955;
  color: white;
  font-size: 18px;
}

/*question page css*/
#question-page {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}

.status {
  text-align: center;
  border: 1px solid black;
  align-self: center;
  position: relative;
  bottom: 25px;
  width: 70%;
  background-color: #F1F5F2;
}

form {
  border: 1px solid black;
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: auto;
  align-self: center;
  background-color: #F1F5F2;
}

#submit-button {
  width: 35%;
  align-self: center;
  padding: 5px;
  margin-top: 15px;
  background-color: #5E4955;
  color: white;
}
/**********question-answer**********/
.question-response {
  width: 70%;
  border: 1px solid black;
  align-self: center;
  background-color: #F1F5F2;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.answer-result {
  align-self: center;
  font-size: 18px;
}

.next-button {
  width: 50%;
  align-self: center;
  background-color: #5E4955;
  color: #F1F5F2;
}

/*********FINAL PAGE CSS ************/

#final-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  align-content: center;
}

.final-score-container {
  width: 70%;
  height: auto;
  border: 1px solid black;
  background-color: #F1F5F2;
  align-self: center;
  position: relative;
  bottom: 25px
}

.final-score {
  text-align: center;
}

.score-message {
  text-align: center;
  font-size: 16px;
}


#img-container {
  width: 70%;
  height: auto;
  align-self: center;
}

img {
  width: 100%;
  height: auto;
}

#retake-button {
  width: 70%;
  align-self: center;
  padding: 10px 0px;
  position: relative;
  top: 10px;
  background-color: #5E4955;
  color: white;
  font-size: 18px;
}

@media all and (min-width: 600px) {
  .main-content-container {
    width: 40%;
  }
  .status {
    width: 40%;
  }
  form {
    width: 40%;
  }
  .question-response {
    width: 40%;
  }
  .final-score-container {
    width: 40%;
  }
  #img-container {
    width: 30%;
  }
  #retake-button {
    width: 40%;
  }
}
