/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
/* COLORS
1. #14281D (dark green)
2. #355834 (light green)
3. #8D818C (grey accent color)
4. #5E4955 (grey brown color)
5. #F1F5F2 (eggshell white)



* {
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: auto;
  margin: auto;
  padding: 0px;
}
body {
  width: 100vw;
  height: auto;
  margin: auto;
  padding: 0px;
}
header {
  width: 100vw;
  height: 15vh;
  text-align: center;
}
main {
  width: 100vw;
  height: 85vh;
  margin: auto;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

/*start page css*/
.main-content-container {
  width: 60%;
  height: 60%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-self: center;
  padding: 15px;
  margin-top: 40px;
  position: relative;
  bottom: 75px;
}

#start-quiz-button {
  width: 75%;
  align-self: center;
  padding: 10px 0px;
}

/*question page css*/
#question-page {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}

.status {
  text-align: center;
  border: 1px solid black;
}

form {
  border: 1px solid black;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

#submit-button {
  width: 35%;
  align-self: center;
  padding: 5px;
  margin-top: 5px;
}

/*********FINAL PAGE CSS ************/

#final-container {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  align-content: center;
}

.final-score {
  align-self: center;
}


#img-container {
  width: 60%;
  height: auto;
  align-self: center;
}

img {
  width: 100%;
  height: auto;
}